@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  height:100%;
  //background-image: linear-gradient(to right top, lightblue 0%, white 100%);
}

nav {
  width: 1080px;
  margin: 0 auto;
  padding: 0 0px 5px 0px;
}

nav ul {
  text-align: center;
  //background: #e8e8e8;
}

nav ul li {
  display: inline-block;
  padding: 5px;
}

nav ul li a {
  padding: 10px;
  font-family: "Open Sans";
  background: #e8e8e8;
  color: darkblue;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  background: #0080ff;
  color: white;
}
