<!DOCTYPE html>
<html>
	<head>
		<title>Employees-Admin</title>
		<link rel="stylesheet" media="all" href="/css/top-menu.css" />
	</head>
	<body>
		<nav>
			<ul class="nav navbar-nav">
				<li>
					<a href="/Employee/home">Home</a>
				</li>
				<li>
					<a href="/Employee/admin/searchEmployee">Search Employees</a>
				</li>
				<li>
					<a href="/Employee/admin/addEmployee">Add Employee</a>
				</li>
				<li>
					<a href="/Employee/admin/modifyEmployee">Update Employee</a>
				</li>
				<li>
					<a href="/Employee/admin/manageBenefits">Benefits</a>
				</li>
				<li>
					<a href="/Employee/admin/manageAnnouncements">Announcements</a>
				</li>
				<li>
					<a href="/logout">Logout</a>
				</li>
			</ul>
		</nav>
		<h2 style="color:green">Managing Employees. Only Admins should see this. </h2>
		
		<br><img th:src="@{/images/Employee_admin.jpg}" alt="image" width="300" height="200">
		<br>
	</body>
</html>