<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Employees-Home</title>
		<link rel="stylesheet" href="/css/bootstrap_3_4_1.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Human Resource</a>
		    </div>
			<ul class="nav navbar-nav">
				<li sec:authorize="hasRole('ROLE_ADMIN')">
					<a href="/Employee/admin">Administration</a>
				</li>
				<li>
					<a href="/Employee/profile">Profile</a>
				</li>
				<li>
					<a href="/Employee/timeCard">Time Card</a>
				</li>
				<li>
					<a href="/Employee/benefits">Benefits</a>
				</li>
				<li>
					<a href="/Employee/training">Training</a>
				</li>
				<li>
					<a href="/Employee/payments">Payments</a>
				</li>
				<li>
					<a href="/File/uploadForm">Upload</a>
				</li>
				<li>
					<a href="/logout">Logout</a>
				</li>
			</ul>
		</nav>
		
		<div class="container">
			<h1>Human Resource </h1>
			<!-- `Principal` is mapped to `SpringUserDetails` -->
			<p>Hi <b>[[${#request.userPrincipal.principal.fullName}]]</b>,</p>
			<p></p>
			<p>Today is: <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span></p>
			<p> Currently, this page can be viewed by any authenticated user.</p>
			<p></p>
			<p><img th:src="@{/images/Employees-640x302.png}"></p>
			<p></p>
		</div>
	</body>
</html>




	