<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Employees-Home</title>
	</head>
	<body>
		<h2 style="color: green">Employee Home Page</h2>
		
		<!-- `Principal` is mapped to `SpringUserDetails` -->
		<br>Hi <b>[[${#request.userPrincipal.principal.fullName}]]</b>,
		<br>
		<br>Today is: <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span>
		<br> Currently, this page can be viewed by any authenticated user.
		<br>
		<br><img th:src="@{/images/Employees-640x302.png}">
		<br>
		<h1>Menu</h1>
		<i>Here goes the list of actions..</i>
		<br><div sec:authorize="hasRole('ROLE_ADMIN')">
			<br><a href="/Employee/admin">Administer Employees</a>
		</div>
		<br><a href="/File/uploadForm">Upload a Photo for your Profile</a>.
		<br>
		<br><a href="/logout">Logout</a>
	</body>
</html>