<!DOCTYPE html>
<html>
	<head>
		<title>Employees-Admin</title>
		<link rel="stylesheet" href="/css/bootstrap_3_4_1.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<ul class="nav navbar-nav">
				<div class="navbar-header">
					<a class="navbar-brand" href="/Employee/home">Human Resource</a>
			    </div>
				<li>
					<a href="/Employee/admin/searchEmployee">Search Employees</a>
				</li>
				<li>
					<a href="/Employee/admin/addEmployee">Add Employee</a>
				</li>
				<li>
					<a href="/Employee/admin/modifyEmployee">Update Employee</a>
				</li>
				<li>
					<a href="/Employee/admin/manageBenefits">Benefits</a>
				</li>
				<li>
					<a href="/Employee/admin/manageAnnouncements">Announcements</a>
				</li>
				<li>
					<a href="/logout">Logout</a>
				</li>
			</ul>
		</nav>
		<div class="container">
		<h3 style="color:green">Managing Employees. Only Admins should see this. </h3>
		
		<br><img th:src="@{/images/Employee_admin.jpg}" alt="image" width="300" height="200">
		<br>
		</div>
	</body>
</html>