<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Employees-Home</title>
		<link rel="stylesheet" media="all" href="/css/top-menu.css" />
	</head>
	<body>
		<nav>
			<ul class="nav navbar-nav">
				<span sec:authorize="hasRole('ROLE_ADMIN')">
					<li><a href="/Employee/admin">Administration</a></li>
				</span>
				<li>
					<a href="/Employee/profile">Profile</a>
				</li>
				<li>
					<a href="/Employee/timeCard">Time Card</a>
				</li>
				<li>
					<a href="/Employee/benefits">Benefits</a>
				</li>
				<li>
					<a href="/Employee/training">Training</a>
				</li>
				<li>
					<a href="/Employee/payments">Payments</a>
				</li>
				<li>
					<a href="/File/uploadForm">Upload</a>
				</li>
				<li>
					<a href="/logout">Logout</a>
				</li>
			</ul>
		</nav>
		<!-- `Principal` is mapped to `SpringUserDetails` -->
		<br>Hi <b>[[${#request.userPrincipal.principal.fullName}]]</b>,
		<br>
		<br>Today is: <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span>
		<br> Currently, this page can be viewed by any authenticated user.
		<br>
		<br><img th:src="@{/images/Employees-640x302.png}">
		<br>
	</body>
</html>