<html>
	<head>
		<title>Human Resource Management</title>
	</head>
	<body>
		<br>
		<h2 style="color: green">Welcome to Human Resource Home Page!</h2>
		<br>
		<div style="width:500px; font-size:18px">We are pleased to offer you a Web Portal to manage your time
		card, request vacation or sick time, view your payments and get benefits details.
		</div>
		<br> To do that, go to <a href="/Employee/home">Your Home Page</a>.
		<br>
		<br><img src="https://media2.giphy.com/media/3pZipqyo1sqHDfJGtz/giphy.gif" />
		<br>
	</body>
</html>